/* BANNER */
.carousel-item {
  width: 100%;
  max-width: 100%;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  background-size: cover;
}
.bg_image{
  padding-top: 95px;
}
/* END OF BANNER */
