.dropdown {
  float: right;
  border-radius: 3px;
  background-color: #467aac;
}

#dropdown-item-button {
  border-color: #467aac;
  background-color: #467aac;
}
#recent_title1{
  padding-top: 10px;
  font-size: 20px;
  text-align: left;
}
#recent_title1:hover{
  color: #467aac;
}
#recent_date_author1{
  padding: 5px;
}
#recent_summary1{
  font-size: 15px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
#featured_subpost1{
  vertical-align: top;
  display: inline-block;
  padding: 10px;
  align-items: center;
  width: 350px;
  flex: 1;
  
}

.read-btn1 {
  float: left;
  margin: 0;
  display: block;
  font-size: 12px;
  font-weight: Bold;
  transition-duration: 0.4s;
  cursor: pointer;
  border-color: #467aac;
  border-radius: 50px;
  border-width: 1.5px;
  border-style: solid;
  width: 150px;
  max-width: 150px;
}
.read-btn1:hover {
  background-color: #467aac;
  color: white;
}
.recent1{
  font-family: 'Noto Sans', sans-serif;
  display: inline-block;
}
.card-block{
  float: left;
  padding: 0;
  display: flex;
  background-color: white;
  margin: auto;
  align-items: center;
  margin: 50px;
  border-radius: 2px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  height:550px
}
.card-block a{
  color: black;
}
.card-block:hover {
  transform: scale(1.01);
  }

#recent_img1{
  max-width: 300px;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}