.content-body {
  padding: 50px;
}
.container-md {
  background-color: white;
  margin: 0px auto;
  margin-top: 0px;
  border-radius: 10px;
  padding: 2rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.content-title {
  margin: 0px;
  text-align: left;
  font-family: "Noto Sans", sans-serif;
}
.content-author-date {
  padding-bottom: 25px;
}
.content-container-1 img {
  width: 100%;
}
.content-paragraph {
  text-align: justify;
  padding-top: 25px;
  word-wrap: break-word;
  font-family: "Noto Sans", sans-serif;
}
.content-line {
  margin-top: 50px;
  height: 3px;
  border-radius: 5px;
  background-color: black;
  opacity: 0.5;
}

.content-section-comment {
  background-color: white;
  margin: 0px auto;
  margin-top: 10px;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.btn-submit {
  background-color: #4c9188;
  border-color: #4c9188;
  color: white;
  width: 100px;
  border-radius: 10px;
}
.btn-cancel {
  border-color: #ff6961;
  background-color: white;
  color: black;
  width: 100px;
  border-radius: 10px;
}
.btn-submit:hover {
  background-color: #438078;
  color: white;
}
.btn-cancel:hover {
  background-color: #ff6961;
  color: white;
}
.row {
  padding-top: 10px;
}
.form-control {
  border-radius: 10px;
}
.content-name {
  margin: 0px;
  word-wrap: break-word;
  text-align: left;
  padding-bottom: 5px;
}
.content-comment {
  margin: 0px;
  word-wrap: break-word;
}

.content-leave {
  background-color: rgba(255, 255, 255, 1);
  border-radius: 10px;
  width: 97%;
  padding: 20px;
  font-size: 2vw;
  height: 150px;
  resize: none;
}

.content-inputs {
  padding-top: 25px;
  border-radius: 10px;
}

.content-inputs h1 {
  font-weight: 500;
  margin: auto auto auto 0px;
}

.content-leave-header,
.content-comment-header {
  margin-top: 30px;
  margin-bottom: 25px;
  display: block;
  text-align: left;
}

