/* BODY */
@media screen and (max-width: 500px) {
  .column {
    width: 100%;
  }
}

.zoom:hover {
  transform: scale(1.1);
}


h1 {
text-align: center;
text-decoration: none;
font-weight: bold;
font-family: 'Noto Sans', sans-serif;
}

.flex-container {
  display: flex;
  justify-content: center;
}

.flex-container > div {
  width: 20%;
  margin: 20px;
  text-align: center;
  line-height: 100px;
}
/* END OF BODY */

