.nav-item {
  padding: 0.5rem;
}

.navbar-custom {
  background-color: white;
}

.navbar-nav a {
  font-size: 20px;
  font-weight: bold;
  font-family: "Noto Sans", sans-serif;
  letter-spacing: 1px;
}

.navbar-light .navbar-nav .nav-link:hover {
  color: #467aac;
}

.navbar-light .navbar-nav .nav-link {
  color: black;

}

.navbar-nav {
  text-align: center;
}

.nav-link-focus{
  text-decoration: none;
  color: 	black;
}
.nav-link-focus:hover{
  text-decoration: none;
  color: #467aac;
}
.nav-link-focus:focus{
  color: #467aac;
}
  .nav_donate_btn{
    padding: 10px 30px;
    margin: 0;
    text-align: center;
    display: block;
    font-size: 20px;
    font-weight: Bold;
    margin: -15px 0px;
    transition-duration: 0.4s;
    cursor: pointer;
    background-color: #FDDA76;
    border-radius: 50px;
    border-width: 2px;
    border-style: solid;
  }
  .donate-btn{
    padding: 10px 30px;
    margin: 0;
    text-align: center;
    display: block;
    font-size: 20px;
    font-weight: Bold;
    transition-duration: 0.4s;
    cursor: pointer;
    background-color: #FDDA76;
    border-radius: 50px;
    border-width: 2px;
    border-style: solid;
    width: 200px;
    max-width: 200px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
