body {
    background-image: url("../Images/bg.png");
    position: absolute;
    left: 0px;
    top: 0px;
    font-weight: bold;
    font-family: 'Noto Sans';
    height: 920px;
    text-align: center;
    font-family: 'Noto Sans';
    color: #4C9188;
  }
  .active {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
  }

.logout-form {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    position: absolute;
    width: 879px;
    height: 801px;
    left: 430px;;
    top: 80px;
    background: rgba(255, 255, 255, 0.6);
    border-radius: 2%;
}
.logo1 {
    text-align: center;
  }
.logo1 img {
    width: 456px;
    height: 270px;
    position: absolute;
    left: 220px;
    top: 70px;
}

h1 {
    position: absolute;
    align-items: center;
    top: 390px;
    left: 150px;
}

.button {
    top: 540px;
    position: absolute;
    font-family: 'Noto Sans', sans-serif;
    font-weight: bold;
    font-size: 24px;
    border-radius: 30px;
    background: #4C9188;
    color: white;
    padding: 12px 70px;
    left: 350px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    text-decoration: none;

}
.button:hover {
    opacity: 0.5;
    }